.table-wrapper {
   width: 90vw;
   background: #f2f2f2;
   overflow: hidden;
   border-radius: 20px;
   cursor: pointer;
   box-shadow: 0 0 20px 8px #d0d0d0;
   margin-top: 5vw;
}

.InovuaReactDataGrid__column-header:hover
   > .InovuaReactDataGrid__column-header__menu-tool {
   display: none !important;
}

.InovuaReactDataGrid__column-header__menu-tool {
   display: none !important;
}

/* Hide the License message from ReactDataGrid library */
#root
   > div
   > div
   > div
   > div
   > div.InovuaReactDataGrid.InovuaReactDataGrid--theme-default-dark.InovuaReactDataGrid--columns-ready.InovuaReactDataGrid--zebra-rows.InovuaReactDataGrid--show-hover-rows.InovuaReactDataGrid--direction-rtl.InovuaReactDataGrid--no-header-border-right.InovuaReactDataGrid--cell-borders-horizontal.InovuaReactDataGrid--cell-borders-vertical
   > div:nth-child(3) {
   display: none !important;
}

#root
   > div
   > div
   > div
   > div.table-wrapper
   > div.InovuaReactDataGrid.InovuaReactDataGrid--theme-default-dark.InovuaReactDataGrid--columns-ready.InovuaReactDataGrid--zebra-rows.InovuaReactDataGrid--show-hover-rows.InovuaReactDataGrid--direction-rtl.InovuaReactDataGrid--no-header-border-right.InovuaReactDataGrid--cell-borders-horizontal.InovuaReactDataGrid--cell-borders-vertical
   > div.InovuaReactDataGrid__body
   > div.InovuaReactDataGrid__column-layout
   > div.InovuaReactDataGrid__virtual-list.inovua-react-virtual-list.inovua-react-virtual-list--theme-default-dark.inovua-react-virtual-list--virtual-scroll.inovua-react-scroll-container--block.inovua-react-scroll-container.inovua-react-scroll-container--theme-default-dark
   > div.inovua-react-scroll-container__wrapper
   > div
   > div:nth-child(1) {
   transform: translateX(-17px) !important;
}

@media only screen and (max-width: 1500px) {
   #root
      > div
      > div
      > div
      > div.table-wrapper
      > div.InovuaReactDataGrid.InovuaReactDataGrid--theme-default-dark.InovuaReactDataGrid--columns-ready.InovuaReactDataGrid--zebra-rows.InovuaReactDataGrid--show-hover-rows.InovuaReactDataGrid--direction-rtl.InovuaReactDataGrid--no-header-border-right.InovuaReactDataGrid--cell-borders-horizontal.InovuaReactDataGrid--cell-borders-vertical
      > div.InovuaReactDataGrid__body
      > div.InovuaReactDataGrid__column-layout
      > div.InovuaReactDataGrid__virtual-list.inovua-react-virtual-list.inovua-react-virtual-list--theme-default-dark.inovua-react-virtual-list--virtual-scroll.inovua-react-scroll-container--block.inovua-react-scroll-container.inovua-react-scroll-container--theme-default-dark
      > div.inovua-react-scroll-container__wrapper
      > div
      > div:nth-child(1) {
      transform: translateX(0px) !important;
   }
}

